<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGaLQVTuVLNQHJ6-93Hx_4ObSGWg55hnE</string>
	<key>GCM_SENDER_ID</key>
	<string>2691017848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mama.and.co.app</string>
	<key>PROJECT_ID</key>
	<string>mama-and-co</string>
	<key>STORAGE_BUCKET</key>
	<string>mama-and-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2691017848:ios:af5defdd6e372df3fed18d</string>
</dict>
</plist>